
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button {
   transition: all 0.2 ease;
}

button:disabled {
  filter: greyscale(0.5);
  transform: scale(0.98);
}

body{ 
  background-color: #222;
  display:none;
  flex-direction:column;
  height:100vh;
  margin:1vh;
  padding:1vh;
  overflow-x:hidden;
}

.header::after {
  content: '';
  width: 10vh;
  margin:1rem;
}
.header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 20px;
  position:relative;
  width:90%;
}
.shwifty img {
  height: 100%;
  object-fit:contain;
}
.shwifty{
  display: flex;
  justify-content:center;
  height: 8vh;
  font-size:4vh;
  color:#ff2f2f;
  border: solid 1px #ff2f2f;
  width:fit-content;
  padding:5px;
  border-radius:10px;
  cursor: pointer;
  box-shadow: 0px 5px 15px black

}
#logout-btn {
  padding:10px 20px;
  border: solid 1px #ff2f2f;
  background-color:#0e0e0e;
  border-radius:10px;
  color:aliceblue;
  cursor:pointer;
  width:fit-content;
  height:5vh;
  box-shadow: 0px 5px 15px black;
  margin:1rem;

}


.chat-window:-webkit-scrollbar {
  display: none;
}
.chat-window {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width:95%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top:5px;
  display:flex;
  flex-grow:1;
  flex-direction:column;
  overflow-y: auto;
  padding: 15px;
  gap:10px;
  border: solid 1px #ff2f2f
}

.message-item {
  background-color: #ff2f2f;
  color:aliceblue;
  margin-top:5px;
  padding:5px;
  width: fit-content;
  border-radius: 15px 15px 0px 15px;
  max-width:70%;
}

.input-area{
  position:relative;
  display:flex;
  padding:15px;
  gap:10px;
  flex-wrap:wrap;
}

.typing-indicator {
    width:100%;
    height:1.2rem;
    font-size:0.8rem;
    color:#00ff88;
    font-style:italic;
    padding-left:10px;
}

#messageInput{
  flex-grow:1;
  width:max-content;
  border: solid 1px #ff2f2f;
  background-color:#0e0e0e;
  padding: 5px;
  border-radius:5px;
  color:aliceblue;
  cursor:text;
  box-shadow: 0px 5px 15px black

}

#send-btn {
  padding:10px 20px;
  border: solid 1px #ff2f2f;
  background-color:#0e0e0e;
  border-radius:5px;
  color:aliceblue;
  cursor:pointer;
   box-shadow: 0px 5px 15px black

  
}



#logout-btn:hover, #send-btn:hover {
  transform: scale(1.05);
  background-color: #ff2f2f;
  color: #0e0e0e;
}

.message-info {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  gap:1px;
}

.timestamp {
  font-size: 0.7rem;
  color: #000;
  font-weight: normal;
}

.user-label{
  margin-right:0.5rem;
  font-weight: 700;
  font-size: 0.7rem;
}

.text{ 
  font-weight: 400;
}

.message-item.sent {
    align-self: flex-end; 
}

.message-item.received {
    background-color: #444;
    align-self: flex-start; 
}
